<h6 class="ms-5">Computadores</h6>
    <!-- Listado -->
    <div class="card">
      <div class="card-body">
        <table id="list-table" class="table">
          <thead>
            <tr >
              <th>Nombre</th>
              <th>Board</th>
              <th>Case</th>
              <th>Procesador</th>
              <th>Gráfica</th>
              <th>Ram</th>
              <th>Disco duro</th>
              <th>Teclado</th>
              <th>Mouse</th>
              <th>Pantalla</th>
              <th>Estado</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>